.vscode/launch.json
progetto/src/parser/due/grammar.aux
progetto/src/parser/due/grammar.fdb_latexmk
progetto/src/parser/due/grammar.fls
progetto/src/parser/due/grammar.log
progetto/src/parser/due/grammar.synctex.gz
progetto/parser/due/grammar.aux
progetto/parser/due/grammar.fdb_latexmk
progetto/parser/due/grammar.fls
progetto/parser/due/grammar.log
progetto/parser/due/grammar.synctex.gz
*.class
